<ion-content [fullscreen]="true">
  <ion-title>Seus tickets <ion-icon name="ticket-outline"></ion-icon></ion-title>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Básico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      +200 Tickets por 29,90/mês
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Premium</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Gold</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
