<ion-content [fullscreen]="true">
<body class="bg-bg">
  <ion-button expand="block" (click)="openCameraModal()">
  Abrir Câmera
  </ion-button>
  <ion-item>
    <ion-input labelPlacement="floating" label="Converse com a Bea..."></ion-input>
    <ion-button><ion-icon name="send-outline"></ion-icon></ion-button>
    <!--Importando a Face-api por CDN -->
    <script src="https://cdn.rawgit.com/justadudewhohacks/face-api.js/master/dist/face-api.js"></script>
  </ion-item>

  
  </body>
</ion-content>
